
<div style="text-align:center">
  <br><br>
  <h1>
    Add Event 
  </h1>
 </div>
 <div style="margin:20px 50px 20px 50px;">
<form #eventform="ngForm" (ngSubmit)="onSubmit(eventform)">
    <input type="hidden" name="_id" #_id="ngModel" ngModel [(ngModel)]="selectedEvent._id">
  <div class="form-group">
    <label for="Event">Event Name</label>
    <input type="text" name="Event" #qname="ngModel" ngModel [(ngModel)]="selectedEvent.eventname" class="form-control" id="inputdefault" placeholder="Event Name">
  </div>
  <div class="form-group">
    <label for="Event">Event Description</label>
    <input type="text" name="Event" #qname="ngModel" ngModel [(ngModel)]="selectedEvent.bdesc" class="form-control" id="inputdefault" placeholder="Event Description">
  </div>
  <div class="form-group">
    <label for="Event">Event Picture</label>
    <input type="file" name="photo"  [(ngModel)]="selectedEvent.bpic" class="form-control" id="inputdefault" (change)="onfileselect($event)" />
  </div>
  <div class="form-group">
    <input type="submit" class="form-control btn btn-success" id="inputdefault">
  </div>
</form>
</div>